<div class="container">
  <div class="about-info">
    <h3 class="text-center">Great News for DIABETIC patients</h3>
    <p class="text-center">1.06.2016</p>

    Dr. Hasaan Shamsi Pasha working in one of Jeddah's hospital as Heart Specialist, had become Sugar patient himself with as high as 500 reading of Sugar level in the mornings..
    He got very worried as despite many tests & trials of different medicines, his reading was still 200 before breakfast and 300 after breakfast..
    As he was a reasercher himself and he was also writer of many medical books (refer to Wikipedia for more info on him), he decided to take Olive oil as medicine for Sugar..
    He took 2-3 table spoons before bed and 2-3 table spoons early morning, one hour before breakfast..
    Results were amazing after only one week of use.!
    Sugar reading was 100 before breakfast and 180 after breakfast within 3 days and by end of 1 week it was 93 "after breakfast.!!"
    He then left using before bed but still continues with early morning use of Olive oil..
    Those who started using Olive oil for sugar showed other benefits too.. as follows :
    Those who had problems of feet getting hot or cold, became better..
    Others reduced the amount of their sugar medicines they used to take before..
    Those using insulin injections have now reduced their dosage & are contemplating to stop injections completely.!
    Many said their bones of the legs have now stopped paining.!
    I request you all to, Please, forward this so that Diabetics in ur circle of Friends & Family are benefitted or try this for urself, if u suffer from Diabetes....
    <br>
    *Take Care..*
  </div>
</div>
