<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="container">
  <div id="welcome-logo">
    <img src="assets/img/adhaLogo.jpg" alt="adha" id="welcome-adha-logo">
  </div>
  <div id="welcome-map">
    <img src="assets/img/african_map.png" alt="adha" id="african-map">
  </div>

  <div id="welcome-text">
    <h4 class="welcome-heading">Philanthropic and Non-profit Organisation</h4>
    <p>Legal RNA Nº W912010132 / Préfecture de L'Essonne</p>

    <u><h4 class="welcome-heading" id="welcome-address-heading">Head Office</h4></u>
    <p>61 bis Rue de Quincy<br>
      91860<br>
      Epinay Sous Senart (France)<br>
      Identifiant SIRET: 838 977 353 00013<br>
      Tel: +33 6 05 99 83<br>
      E-mail: adha.association2018@gmail.com</p>
  </div>
  <div class="row" id="dev-banner">
    <div class="col">
      <p class="blink">OUR WEBSITE IS COMMING SOON, STAY TUNED!</p>
    </div>
    <!--<div class="col">2 of 2</div>-->
  </div>
  <div class="row" id="welcome-copywrite">
    <div class="col">
      <p class="welcome-copywrite-text">Africa Diabetes & Hypertension Association © 2018 All Rights Reserved.</p>
    </div>
    <!--<div class="col">2 of 2</div>-->
  </div>

  <!--<div id="marquee-scroll">-->
    <!--&lt;!&ndash;<marquee behavior="scroll" direction="left">Your scrolling text goes here</marquee>&ndash;&gt;-->
    <!--<p class="blink">OUR WEBSITE IS COMMING SOON, STAY TUNED!</p>-->
  <!--</div>-->

</div>



</body>
</html>
