<div class="container">
  <div class="about-info">
    <img class="img-fluid rounded center" src="assets/img/ceo.jpg" alt=""><br><br>
    ADHA is a Humanitarian Association with the primary purpose to eradicate Diabetes and Hypertension from the African Continent. These life threatening
    diseases have brought so much pain to atleast 60% of the African population. Destinies have been arrested, lives robbed, dreams terminated and visions
    buried before the dawn of day because of these life threatening Monsters.
    ADHA believes that Africa deserves the best; that Africa can be healthy, productive and prosperous soaring high above these ills. ADHA aims at setting up
    a platform for sensitization, empowering the African Rural and Urban populations with the relevant knowledge on how to live Diabetic and Hypertensive free.
    ADHA equally aims at bringing uncompromised health solutions to the already affected population, making life worth living and bringing hope to hopeless cases.
    Assistance and Solutions will include : Counselling, Medical gadgets, Medications and where necessary Financial Support.
    As a matter of fact we are looking for potential Members, Partners and Sponsors. Remember, there is Power in Numbers. You can decide in what capacity you want
    to come in as you carry the burden of Mother Africa in your heart: A Partner, A Member or A Sponsor. We all need to put our hands in the dough to be able to
    push this vision forward. Africa needs You, Africa needs Me, Africa needs Us.
    We are opened to all questions in regards to our operations and how you can join the Life Changing and Saving Train of ADHA. We can do it💪💪💪
    <br>GOD BLESS AFRICA 🙏
    <br><br>
    CEO & FOUNDER<br>
    Association for Diabetes and hypertension in Africa.
    <br><br>


    <!--The ADHA ASSOCIATION aims to create a better understanding amongst all people in Africa about the condition of diabetes and/or hypertension through<br>-->
    <!--sensitization in order to empower all people who may have diabetes and/or hypertension themselves or who are associated with people who have these <br>-->
    <!--pathologies to manage their condition, in order to improve the education and health services related to diabetes and/or hypertension where they are-->
    <!--insufficient.-->
    <!--<br><br>-->
    <!--We also give assistance to the neediest people of our social environment who have diabetes and/or hypertension, with special attention paid to orphan-->
    <!--children and aged persons.-->

  </div>
</div>
