<!--<div class="demo-1" *ngIf="router.url != '/appIndex'" >-->
  <!--<div *ngIf="router.url != '/login'">-->
    <!--<navbar></navbar>-->
  <!--</div>-->
  <!--<p>hjhjhjhgjhghjghjg</p>-->
<!--</div>-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- The social media icon bar -->
<div class="icon-bar">
  <a href="https://www.facebook.com/ADHA.ASSOCIATION.FRANCE/" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="mailto:adha.association2018@gmail.com" class="google"><i class="fa fa-google"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>

<app-footer></app-footer>
