<div class="navbar-wrapper">
  <!--<nav class="navbar transparent navbar-inverse navbar-fixed-top">-->
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top inner-banner">
    <div class="container">
      <div class="navbar-header" data-spy="affix" data-offset-top="197">
        <button type="button" role="button" aria-label="Toggle Navigation" data-navicon="button" class="icon-menu navicon navicon-x navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-center" href="#">{{projectName}}</a>
      </div>
      <div id="navbar bs-example-navbar-collapse-1" class="collapse navbar-collapse navSection navbar-right" >
        <ul class="nav navbar-nav ">
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About Me</a></li>
          <li><a routerLink="portfolio">Portfolio</a></li>
          <li><a routerLink="blog">Blog</a></li>
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div> <!-- End of Banner-->
